
* { box-sizing: border-box; }
html, body, #root { height: 80%; margin: 16px; background: #ffffffff; color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; }
h1{
  color: black;
}
h2{
  color: black;
}
.container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  padding: 20px;
}


.calculator {
  max-width: 360px;
  background: #ffffffff;
  border-radius: 24px;
  padding: 20px;
  box-shadow: 0 0 0 2px #d28e07ff, 0 4px 20px rgba(225, 151, 2, 0.6);
}

.display {
  background: #1C1C1E;
  border-radius: 16px;
  text-align: right;
  font-size: 48px;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-radius: 16px;
  margin:20px;
}

.btn {
  border: none;
  border-radius: 50%;
  aspect-ratio: 1/1;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: filter .1s ease, transform .05s ease;
}

.btn:active { transform: scale(0.96); filter: brightness(1.1); }

.btn.gray { background: #3A3A3C; color: #fff; }
.btn.orange { background: #FF9500; color: #fff; }
